<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seleccionar Trayecto</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>Selecciona un trayecto</h1>
    <form id="trayectoForm">
        <label for="trayecto">Trayecto:</label>
        <select id="trayecto" name="trayecto">
            <option value="Trayecto 1">Trayecto 1</option>
            <option value="Trayecto 2">Trayecto 2</option>
            <option value="Trayecto 3">Trayecto 3</option>
        </select>

        <button type="submit">Iniciar</button>
    </form>
    <div id="response"></div>

    <script src="/static/script.js"></script>
</body>
</html>
